<h4>Add Comment</h4>
<%= form_with model: [@article,@article.comments.build] do |frm|%>


<p><%= frm.label :comments %><br>
<%= frm.text_field :comments %>
</p>
<p><%= frm.label :body %><br>
<%= frm.text_area :body %>
</p>
<p>
  <%= frm.label :status %><br>
  <%= frm.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</p>
<p>
	<%= frm.submit %>
</p>
<% end %>