<h1>show articles </h1>

<h1> <%= @article.title %> <h1>

<h3><%= @article.body %> <h3>

	

<%= render @article.comments%>

<%= render 'comments/form' %>


<ul>
	<li>
		<%= link_to "Edit", edit_comment_path(@article.comment) %>
		  </li>
		<li>
		<%= link_to "Edit", edit_article_path(@article) %>
		  </li>
		  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
		
	</ul>